<br><br><br><br><br><br>
<body class="offline-doc index-page">
    <nav class="navbar navbar-top navbar-expand navbar-light bg-white border-bottom fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Search form -->
                <img src="../assets/final-sih.png" style="width: 200px;height: 40px;" class="navbar-brand-img"
                    alt="...">
                <ul class="row">
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/homepage">
                                Home
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/aboutus">
                                About Us
                            </a></button>
                    </li>
                    <li class="nav-link">
                        <button type="button" class="btn btn-solid-info visited waves-effect waves-light m-1"
                            onclick="alert('Login to view mentors.')">
                            <a routerLink="/login">
                                Browse Mentors
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/faq">
                                FAQ's
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                        class="btn btn-solid-info visited waves-effect waves-light m-1">
                        <a routerLink="/faq">
                            Startup Registration
                        </a></button>
                   </li>
                    <pre>                     </pre>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/register">
                                Sign Up
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/login">
                                Log In
                            </a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

          <div class="container">
              <h1>How our Website works?</h1>
              <li>The users can either act as mentor or the
                customer. Customers can be students also.
                Mentors are priorly evaluated.</li>
              <li>Users can access the web app even without
                registering to see trending mentors and
                startup ideas.</li>
               <li>After the registration, the customers can
                choose mentor according to their wish.</li>
                <li>The customer will go through mentor’s
                guidelines and can also view video lectures
                uploaded by mentor.</li>
                <li>If the customer is satisfied, they can logout.
                If not, the customer has an option to call or
                mail the mentor for more details.</li>
                <li>The mentors and the customers are both
                provided with the additional functionalities
                such as view and update their profiles. </li>
          </div>
