
<body class="offline-doc index-page">
    <nav class="navbar navbar-top navbar-expand navbar-light bg-white border-bottom fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Search form -->
                <img src="../assets/final-sih.png" style="width: 200px;height: 40px;" class="navbar-brand-img"
                    alt="...">
                <ul class="row">
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/homepage">
                                Home
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/aboutus">
                                About Us
                            </a></button>
                    </li>
                    <li class="nav-link">
                        <button type="button" class="btn btn-solid-info visited waves-effect waves-light m-1"
                            onclick="alert('Login to view mentors.')">
                            <a routerLink="/login">
                                Browse Mentors
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/faq">
                                FAQ's
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                        class="btn btn-solid-info visited waves-effect waves-light m-1">
                        <a routerLink="/startup-register">
                            Startup Registration
                        </a></button>
                   </li>
                    <pre>                     </pre>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/register">
                                Sign Up
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/login">
                                Log In
                            </a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
              <br><br><br><br><br>
            
                            <div class="card container bg-white">
                                <h1>Frequently Asked Questions</h1>
                                <br>
                                <p class="text-default">
                        1)What is our startup cell about?<br>
                        Ans: This platform shall act as a single connect for handholding upcoming startups and providing information regarding government policies, product marketing, mentorship, link building, etc.
                        <br><br>
                        2)How does one differentiate a tech startup?<br>
                        Ans:It is defined as one that creates a tech based service or product or uses technology for enhancing functionality or reach of an existing product.
                        <br><br>
                        3) How does one differentiate between a tech and a startup? <br>
                        Ans:a tech- startup is defined as one that creates a technology based service or product or uses technology for enhancing functionality or reach of an existing product or service.
                                </p>
                            
                        </div>
   
