<body class="offline-doc index-page">
    <nav class="navbar navbar-top navbar-expand navbar-light bg-white border-bottom fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Search form -->
                <img src="../assets/final-sih.png" style="width: 200px;height: 40px;" class="navbar-brand-img"
                    alt="...">
                <ul class="row">
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/homepage">
                                Home
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/aboutus">
                                About Us
                            </a></button>
                    </li>
                    <li class="nav-link">
                        <button type="button" class="btn btn-solid-info visited waves-effect waves-light m-1"
                            onclick="alert('Login to view mentors.')">
                            <a routerLink="/login">
                                Browse Mentors
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/faq">
                                FAQ's
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/startup-register">
                                Startup Registration
                            </a></button>
                    </li>
                    <pre>                     </pre>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/register">
                                Sign Up
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/login">
                                Log In
                            </a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br><br><br><br>
    <marquee>Market Trends : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Remote Health
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Retail distribution and supply chain
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Learning and eduation metadologies
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Content consumption behaviour
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Workspace as a service </marquee>
    <div class="page-header header-filter clear-filter" style="background-image: url('../assets/sihhome.jpeg'); background-size: cover;">
        <div class="container">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Startup Ventures
                    </h1>

                    <h3 class="title">Creating impact with purpose</h3>
                    <br />
                    <a routerLink="/aboutus" class="btn btn-white btn-round" routerLink="/knowmore">Know more</a>
                </div>
            </div>

        </div>
        <br><br>

    </div>


    <footer class="footer">
        <div class="container">

            <div class="copyright pull-right ">
                &copy;
                <script>document.write(new Date().getFullYear())</script> 2020 Powered by <a routerLink="/homepage"
                    target="_blank">Startup Ventures </a>
            </div>
        </div>
    </footer>

</body>