<body class="offline-doc index-page">
    <nav class="navbar navbar-top navbar-expand navbar-light bg-white border-bottom fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Search form -->
                <img src="../assets/final-sih.png" style="width: 200px;height: 40px;" class="navbar-brand-img"
                    alt="...">
                <ul class="row">
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/homepage">
                                Home
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/aboutus">
                                About Us
                            </a></button>
                    </li>
                    <li class="nav-link">
                        <button type="button" class="btn btn-solid-info visited waves-effect waves-light m-1"
                            onclick="alert('Login to view mentors.')">
                            <a routerLink="/login">
                                Browse Mentors
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/faq">
                                FAQ's
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                        class="btn btn-solid-info visited waves-effect waves-light m-1">
                        <a routerLink="/startup-register">
                            Startup Registration
                        </a></button>
                   </li>
                    <pre>                     </pre>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/register">
                                Sign Up
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/login">
                                Log In
                            </a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br><br><br><br><br><br><br>
        <h1>About Us</h1>
        <p>A startup is a young company that is just beginning to develop. Startups are usually small at initial stage
            and mainly handled by students or youths. These companies offer a product or services that is not currently
            being offered elsewhere in the market. This public domain dose not only provide the elliptical information
            but also mentor with the various procedures to be looked upon.
            Online platform for mentoring startups gives guidance for the needy and enhances the culture of innovation
            and technology. This platform provides mentor who will objectively assess the state of your startup and the
            direction in which it is headed.</p>
            <p>The main object is to provide the basic guidance or mentorship like:</p>
            <li>Assistance regarding the legalization of the company</li>
            <li>Business planning</li>
            <li>Product marketing support and strategy</li>
            <li>Building contacts</li>
    </div>