<body class="offline-doc index-page">
    <nav class="navbar navbar-top navbar-expand navbar-light bg-white border-bottom fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Search form -->
                <img src="../assets/final-sih.png" style="width: 200px;height: 40px;" class="navbar-brand-img"
                    alt="...">
                <ul class="row">
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/homepage">
                                Home
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/aboutus">
                                About Us
                            </a></button>
                    </li>
                    <li class="nav-link">
                        <button type="button" class="btn btn-solid-info visited waves-effect waves-light m-1"
                            onclick="alert('Login to view mentors.')">
                            <a routerLink="/login">
                                Browse Mentors
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-solid-info visited waves-effect waves-light m-1">
                            <a routerLink="/faq">
                                FAQ's
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                        class="btn btn-solid-info visited waves-effect waves-light m-1">
                        <a routerLink="/startup-register">
                            Startup Registration
                        </a></button>
                   </li>
                    <pre>                     </pre>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/register">
                                Sign Up
                            </a></button>
                    </li>
                    <li class="nav-link"><button type="button"
                            class="btn btn-outline-info visited waves-effect waves-light m-1">
                            <a routerLink="/login">
                                Log In
                            </a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br><br><br><br><br><br><br><br><br>
        <h1>HOW DO I REGISTER WITH THE KARNATAKA STARTUP CELL?</h1>
            <li>Please go to the https://startup.karnataka.gov.in/ and fill up the online form.</li>
            <li>On successful completion of the online application form and uploading all relevant documents and with proper technology justification, the application will be processed for Startup Reg Certificate.</li>
            <li>Documents to be uploaded</li>
            	      1. Incorporation/ Registration Certificate
                 <br> 2. Audited Financial Statements/ Total Revenue generated letter from CA on the letterhead of CA, duly signed with seal (Format provided in the online application form) 
                 <br> 3. Self-Declaration (Format provided in the online application form 
    </div>