<app-user-sidebar></app-user-sidebar>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->

  <nav class="navbar navbar-top navbar-expand navbar-light bg-secondary border-bottom fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Search form -->
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <!-- <form class="navbar-search navbar-search-dark form-inline mr-sm-3" id="navbar-search-main">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span> 
              
              </div>
              <input class="form-control" placeholder="Search" type="text"> 
            </div>
          </div>
        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
            aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        </form> -->
        <div style="font-size:20px;color: orange;font-weight: bold;">Startup Ventures - Users Panel</div>
        <!-- Navbar links -->
        <!-- <ul class="navbar-nav align-items-center ml-md-auto">
          <li class="nav-item d-xl-none">
             Sidenav toggler
            <div class="pr-3 sidenav-toggler sidenav-toggler-light" data-action="sidenav-pin"
              data-target="#sidenav-main">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown">

            <i class="ni ni-bell-55"></i>

            <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden">

            </div>
          </li>

        </ul> -->
        <!-- <ul class="navbar-nav align-items-center ml-auto ml-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" routerLink="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="media align-items-center"><i class="fas fa-user-circle"></i>

                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">Admin</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome Admin</h6>
              </div>
              <a routerLink="#!" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>

              <div class="dropdown-divider"></div>
              <a routerLink="#!" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul> -->
      </div>
    </div>
  </nav>

  <!-- Header -->
  <!-- Header -->
  <!-- <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">

                    </div>

                </div>
            </div>
        </div>
    </div>
     -->

  <br><br><br><br><br>
  <!-- <button type="button" style="float:right;" class="btn  waves-effect waves-light m-1">
    &nbsp; <i class="fas fa-pen-square fa-2x"></i>
     <p><small>Edit</small></p> 
  </button> -->
  <h1> &nbsp; &nbsp; Profile</h1>

  <br><br><br><br>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-sm-12" style="min-height: 520px;">
        <div class="card">
          <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

            <!-- Id Column -->
            <ng-container matColumnDef="mid">
              <th mat-header-cell *matHeaderCellDef> ID. </th>
              <td mat-cell *matCellDef="let element"> {{element.mid}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="mname">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.mname}} </td>
            </ng-container>

            <ng-container matColumnDef="memail">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.memail}} </td>
            </ng-container>


            <ng-container matColumnDef="mdob">
              <th mat-header-cell *matHeaderCellDef> Date of Birth</th>
              <td mat-cell *matCellDef="let element"> {{element.mdob}} </td>
            </ng-container>

            <ng-container matColumnDef="cno">
              <th mat-header-cell *matHeaderCellDef> Contact No</th>
              <td mat-cell *matCellDef="let element"> {{element.cno}} </td>
            </ng-container>

            <!-- Action Column -->
            <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <button (click)="openDialog('Update',element)" style="color:cornflowerblue">
                  <i class="fas fa-pen-square fa-2x"></i> </button>
                 <a (click)="openDialog('Delete',element)" style="color: blue;">Delete</a>   
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <br>
          <table mat-table [dataSource]="data" #mytable class="my-table mat-elevation-z8">

            <!-- designation Column -->
            <ng-container matColumnDef="desig">
              <th mat-header-cell *matHeaderCellDef>Designation </th>
              <td mat-cell *matCellDef="let ele"> {{ele.desig}} </td>
            </ng-container>

            <!-- Action Column -->

            <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="padding-right: 105px;"> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <button (click)="openDialog1('Update',element)" style="color:cornflowerblue"><i
                    class="fas fa-pen-square fa-2x"></i> </button>
               <a (click)="openDialog('Delete',element)" style="color: blue;">Delete</a>  
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
          </table>

          <br>
          <table mat-table [dataSource]="data1" #mytable class="my-table mat-elevation-z8">

            <!-- skills Column -->
            <ng-container matColumnDef="skills">
              <th mat-header-cell *matHeaderCellDef>Skills </th>
              <td mat-cell *matCellDef="let ele"> {{ele.skills}} </td>
            </ng-container>

            <!-- Action Column -->
            <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="padding-right: 29px;"> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <button (click)="openDialog2('Update',element)" style="color:cornflowerblue"><i
                    class="fas fa-pen-square fa-2x"></i> </button>
                 <a (click)="openDialog('Delete',element)" style="color: blue;">Delete</a>  
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumn1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn1;"></tr>
          </table>

          <!-- <button mat-button (click)="openDialog3('Add',{})" mat-flat-button color="primary">Add Row</button> -->
          <br>

          <table mat-table [dataSource]="data2" #mytable class="my-table mat-elevation-z8">

            <!-- guidelines Column -->

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let ele"> {{ele.id}} </td>
            </ng-container>


            <ng-container matColumnDef="guidelines">
              <th mat-header-cell *matHeaderCellDef>Guidelines </th>
              <td mat-cell *matCellDef="let ele"> {{ele.guidelines}} </td>
            </ng-container>

            <!-- Action Column -->
            <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="padding-right: 93px;"> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <button (click)="openDialog3('Update',element)" style="color:cornflowerblue"><i
                    class="fas fa-pen-square fa-2x"></i> </button>
                 <a (click)="openDialog('Delete',element)" style="color: blue;">Delete</a>  
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumn2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumn2;"></tr>
          </table>

        </div>
      </div>
    </div>

  <h2>Pre-Recorded Videos</h2>
        <a href="https://youtu.be/DoTuGwK1VNU">Click here for Video Lectures</a>
        <br><br>

    <h2>For Further Details</h2>
    <li>Contact No : 987463210</li>
    <li>Email : aditi@gmail.com</li>
    <li>Or can contact through &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="https://linkedin.com/login" class="btn btn-neutral btn-icon">
        <span class="btn-inner--icon"><img src="../../assets/img/icons/common/linkedin.png"></span>
        <span class="btn-inner--text">LinkedIn</span>
      </a>
     </li>
      <br>
      <div>
      <button type="button" class="btn btn-outline-info visited m-1" style="color:cornflowerblue"
        routerLink="/user-feedback" >
        Give Feedback
      </button>
    </div>
  </div>
</div>